# Dependencies
node_modules

# Local env files
.env
.env.*
!.env.example

# Testing
coverage

# Vercel
.vercel

# Build Outputs
build
dist

# Debug & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs/

# Misc
.DS_Store
Thumbs.db
Desktop.ini
*.pem
tmp
*.tmp
.temp/
.cache/

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*~

# TypeScript
*.tsbuildinfo


# SST
.sst
sst-env.d.ts

#Json extras de ejemplo
.Json-test-data/facu
upload-test-data.js